@using Microsoft.AspNet.Identity



@if (Session["usuario"]!=null)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
  {
        <ul class="nav navbar-nav navbar-right">
          <li>
            @Html.ActionLink("Hola " + Session["usuario"].ToString().Split('.')[0]+" "+ Session["usuario"].ToString().Split('.')[1] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
          </li>
            <li>@Html.ActionLink("Cerrar sesión", "Login", "Account", routeValues :null,htmlAttributes: new { id = "loginClose" })</li>
        </ul>
  }
}
else
{
    <ul class="nav navbar-nav navbar-right">
      @*<li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
      <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
